# Byte-compiled / optimized files
__pycache__/
*.py[cod]
.vscode/

# Packaging / build artifacts
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/

# Test / coverage artifacts
.pytest_cache/
.coverage
htmlcov/
coverage.xml
